.topbarr{
  background-color: #5A5656!important;
  color: white!important;
}
.dropdown-toggle.topbarr{
  background-color: #5A5656!important;

}
.adduserBut{
  position: absolute;;
  float: left;
  left: 305px;
  top: 107px;
}
