.topbarr{
  background-color: #EF6924!important;
  color: white!important;
}
.dropdown-toggle.topbarr{
  background-color: #EF6924!important;

}
.tttt{
  margin-top: 20px;
}
.adduserBut{
  position: absolute;;
  float: left;
  left: 305px;
  top: 107px;
}
.selectpicker{
  font-size: 15px;
}
#span1 {
  padding: 3 3 3 3;
  background-color: rgb(57, 151, 191);
  color: white;
  border-style: double;
  font-size: 10px;
}
#span2 {
  padding: 3 3 3 3;
  background-color: rgb(5, 207, 86);
  color: white;
  border-style: double;
  font-size: 10px;

}
#span3 {
  padding: 3 3 3 3;
  background-color: rgb(236, 63, 89);
  color: white;
  border-style: double;
  font-size: 10px;

}
#span4 {
  padding: 5 5 5 5;
  background-color: rgb(26, 46, 226);
  color: white;
  border-style: double;
}
#listQ{
  padding: 20px 100px;
}
#askButton{
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}
#myButton{
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
#myButton1{
  float: right;
  margin-right: 80px;
  margin-bottom: 10px;
}
#askButton2{
  position: relative;
  left: 14%;
  font-size: 50px;
  margin-bottom: 20px;


}
#myButton2{
  position: relative;
  left: 20%;
  font-size: 50px;
  margin-bottom: 20px;


}
#Button3{
    position: relative;
    left: 35%;
    font-size: 50px;
}
#Button4{
    position: relative;
    left: 31%;
    font-size: 50px;
}
#yimyim{
  margin-top: -5px;
  margin-bottom: -5px;

}

.butt{
  margin-right: -20px;
}

#ansButton{
  float: right;
  padding-right: 20px;
}

#reButton{
  float: right;
  margin-right: 110px;

}

#nameU{
  float: right;
  padding-right: 20px;
  padding-top: 120px;

}

#listQ{
  padding: 20px 100px;
  /*margin-left: 20px;*/

}
#listH3{
  margin-left: 90px;

}
#hr{
  border: solid 1px white;
  width: 950px;
}
#titleQ{
  /*text-align: center;*/
  padding-left: 50px;
  color: white;
}
#desQ{
  padding-left: 80px;
  color: white;


}
#questionbox{
  border: 1px solid;
  width: 1000px;
  height: 280px;
  margin:0 auto;
  background-color: gray;
  margin-bottom: 10px;
}

#commentbox{
  border: 1px solid;
  width: 1000px;
  height: 340px;
  margin:0 auto;
  background-color: gray;
}

#answerbox{
  border: 1px solid;
  width: 1000px;
  height: 280px;
  margin:0 auto;
  background-color: #B5B5B5;
}


#myButton11{
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}
#myButton22{
  position: absolute;
  right: 235px;
  top: 385px;
}
#myButton33{
  position: absolute;
  right: 310px;
  top: 385px;
}

.aaaa{
  width: 10px;
}

#PP{
  color: rgb(116, 115, 117);
}
#selectRole{
  margin-bottom: 15px;
}
.actionCol:last-child{
  /*width: 250px;*/
}
.dateCol:first:child{
  /*width: 300px;*/

}

.buttonComment{
  float: right;
}

/*////////////////////////////////////////////////////////////////////////////////////*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #2e353b;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.menu_title {
  font-size: 11px;
  padding-left: 5px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #70767c;
  font-size: 15px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 10px 15px;
  font-weight: 700;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #3E474F;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color: #fff;
  background: #3E474F;
  box-shadow: inset 20px 0 0px -17px #63ce83;
}

.sidebar-nav > .sidebar-brand {
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#main_footer {
  border-top: 1px solid #e2e5e8;
  background: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main_footer, #page-wrapper:after {
  height: 50px;
}

.main-content {
  margin: 15px;
}
nav#topbar {
    margin-bottom: 0px;
    border-bottom: 0px;
}