.topbarr{
  background-color: #5A5656!important;
  color: white!important;
}
.dropdown-toggle.topbarr{
  background-color: #5A5656!important;

}
.adduserBut{
  position: absolute;;
  float: left;
  left: 305px;
  top: 107px;
}
.selectpicker{
  font-size: 15px;
}
#span1 {
  padding: 3 3 3 3;
  background-color: rgb(57, 151, 191);
  color: white;
  border-style: double;
  font-size: 10px;
}
#span2 {
  padding: 3 3 3 3;
  background-color: rgb(5, 207, 86);
  color: white;
  border-style: double;
  font-size: 10px;

}
#span3 {
  padding: 3 3 3 3;
  background-color: rgb(236, 63, 89);
  color: white;
  border-style: double;
  font-size: 10px;

}
#span4 {
  padding: 5 5 5 5;
  background-color: rgb(26, 46, 226);
  color: white;
  border-style: double;
}
#listQ{
  padding: 20px 100px;
}
#askButton{
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}
#myButton{
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
#myButton1{
  float: right;
  margin-right: 80px;
  margin-bottom: 10px;
}
#askButton2{
  position: relative;
  left: 14%;
  font-size: 50px;
  margin-bottom: 20px;


}
#myButton2{
  position: relative;
  left: 20%;
  font-size: 50px;
  margin-bottom: 20px;


}
#Button3{
    position: relative;
    left: 35%;
    font-size: 50px;
}
#Button4{
    position: relative;
    left: 31%;
    font-size: 50px;
}
#yimyim{
  margin-top: -5px;
  margin-bottom: -5px;

}

.butt{
  margin-right: -20px;
}

#ansButton{
  float: right;
  padding-right: 20px;
}

#reButton{
  float: right;
  margin-right: 110px;

}

#nameU{
  float: right;
  padding-right: 20px;
  padding-top: 120px;

}

#listQ{
  padding: 20px 100px;
  /*margin-left: 20px;*/

}
#listH3{
  margin-left: 90px;

}
#hr{
  border: solid 1px white;
  width: 950px;
}
#titleQ{
  /*text-align: center;*/
  padding-left: 50px;
  color: white;
}
#desQ{
  padding-left: 80px;
  color: white;


}
#questionbox{
  border: 1px solid;
  width: 1000px;
  height: 280px;
  margin:0 auto;
  background-color: gray;
}

#answerbox{
  border: 1px solid;
  width: 1000px;
  height: 280px;
  margin:0 auto;
  background-color: #B5B5B5;
}


#myButton11{
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}
#myButton22{
  position: absolute;
  right: 235px;
  top: 385px;
}
#myButton33{
  position: absolute;
  right: 310px;
  top: 385px;
}

.aaaa{
  width: 10px;
}

#PP{
  color: rgb(116, 115, 117);
}
#selectRole{
  margin-bottom: 15px;
}
.actionCol:last-child{
  width: 300px;
}
